/* Estilos Gerais e Fontes */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fd;
    color: #000d30;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.hidden { display: none !important; }

/* Container Principal das Abas */
.tabs-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* Estilos do Sistema de Abas */
.tab-nav { display: flex; background-color: #f6f9fd; }
.tab-btn {
    flex-grow: 1;
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #777;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}
.tab-btn:hover { color: #08004d; }
.tab-btn.active { color: #08004d; border-bottom: 3px solid #000441; }
.tab-content-container { padding: 30px 40px; }
.tab-content { display: none; }
.tab-content.active { display: block; }

/* Estilos do Conteúdo Interno */
header h1, #gifts h2 {
    font-family: 'Playfair Display', serif;
    color: #08004d;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#gifts h2 { font-size: 2rem; }
header p { font-size: 1rem; color: #777; }
#searchInput {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #d6e7ff;
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
}
#searchResults { margin-top: 10px; text-align: left; }
.result-item {
    padding: 12px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee
    
